*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  text-align: center;
  margin-top: 20px;
}

.grid {
  background-color: black;
  height: 450px;
  width: 630px;
  display: grid;
  grid-template-columns: 1fr 280px;
  overflow: hidden;

  grid-template-areas:
    "answer answer"
    "calculate number";
  gap: 10px;
  padding: 20px;
  border-radius: 30px;
  color: white;
}

div.answer {
  background-color: black;
  grid-area: answer;
  display: grid;
  grid-template-rows: auto auto;
  align-items: end;
  justify-content: end;
  color: white;
  margin-right: 50px;
}

.answer > div:nth-child(1) {
  font-size: 18px;
}
.answer > div:nth-child(2) {
  font-size: 50px;
}

/*calculate*/

div.calculate {
  background-color: black;
  grid-area: calculate;
  color: white;
  display: grid;
  grid-template-columns: repeat(6, 50px);
  grid-template-rows: repeat(5, 50px);
  gap: 10px;
  text-align: center;
}

.calculate > div,
.number > div {
  display: grid;
  place-items: center;
  background-color: #2a2a2a;
  border-radius: 100%;
}

.calculate > div,
.number > div {
  width: 50px;
  height: 50px;
}

/*number*/

div.number {
  background-color: black;
  grid-area: number;
  color: white;
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(5, 50px);
  gap: 10px;
  text-align: center;
}

.number > div:nth-child(1),
.number > div:nth-child(2),
.number > div:nth-child(3) {
  background-color: grey;
}

.number > div:nth-child(4),
.number > div:nth-child(8),
.number > div:nth-child(12),
.number > div:nth-child(16),
.number > div:nth-child(20) {
  background-color: goldenrod;
}
